.App {
  text-align: center;
}

body{
  background-color: antiquewhite;
}
.img{
  position: relative;
  width: 60%;
  padding-bottom: 2rem;
  margin: auto;
}
.name{
  float: left;
}
.card{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  color: white;
  background: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.material-symbols-outlined{
  cursor: pointer;
  margin-left: 5rem;
  padding-right: 2rem;
  height: 2rem;
  
  /* display: inline-block; */
  width: 20%;
}


